<% provide(:title, "About") %>

<div class = "aboutpage">
	<div class = "about"></div>
	<div class = "container">
		<div class = "abouttext"><h2>About</h2></div>
		<div class = "footprint content" id = "footprint">
			<h3 class = "subtitle footprint"><a href = "./">Footprint</a></h3>
			<div class = "para">
				<p class = "intro">Many people are travelling enthusiasts. At the end of the day, travellers want to record their travel including the photos they took, travelogue they wrote and the places they’ve been to.</p>

				<p class = "intro">If travellers wants to do this, they may use Google Map or MapBox to label the places they’ve been to, or upload photos to Instagram with information of locations so that they can view their photos on a world map, or they may write travelogue on their own blogs and include their photos.</p>

				<p class = "intro">But these solutions have their own limitations. Google Map has many limitations or very hard to include all the information travellers want to include and organise them nicely.</p>

				<p class = "intro">Our project hope to provide a one-stop solution that can record travelling information (e.g. photos, locations, routes, travelogues) and represent nicely.</p>

				<!--<iframe width="420" height="315" src="http://www.youtube.com/embed/XGSy3_Czz8k?"></iframe>-->
			</div>
		</div>

		<div class = "orbital content">
			<h3 class = "subtitle orbital" id = "orbital"><a href = "http://orbital.comp.nus.edu.sg" target = "_blank">Orbital</a></h3>
			<div class = "para">
			<p class = "intro"> Orbital is the School of Computing’s self-driven programming summer experience.  It is  designed to give first-year students the opportunity to 1) self-learn and 2) build something useful.  It is designed as a 4 modular credit (MC) module that is taken pass/fail (CS/CU) over the summer1.</p>

			<p class = "intro">Unlike the School’s traditional modules which emphasize academic learning, this module leverages the growing opportunity that computing students at all levels have in building useful applications.  This skill does not normally come by formal training, but rather requires time, experience, trial-and-error to hone.  Information foraging for technical details on the Web can be difficult, but we feel that through a combination of self- and peer-help, students will be able to put together useful systems and generate confidence in being able to go beyond the basics, and seek solutions on their own.  In fact, computing is the only discipline whose output can scale dramatically; a single person’s work can affect millions of lives, everyday.</p>

			<p class = "intro">Our School does not teach programming prowess as formal coursework, as it is not academic in nature.  Orbital is one mode where young energetic students can fill this gap by their own initiative.  Read more about the Orbital programme’s structure in pages tagged with ‘orbital‘.</p>

			<!--<iframe width="420" height="315" src="https://www.youtube.com/watch?v=y-dDF70qOe8"></iframe>-->
		</div>

		</div>
		<div class = "author content">
			<h3 class = "subtitle author" id = "author"><a href = "#">Authors</a></h3>
			<div class = "container">
				<div class = "zhouyou pull-right">
					<h5><a href = "https://yollyhideout.wordpress.com" target = "_blank">Zhou You</a></h5>
					<p class = "intro">当你低头的一瞬间，才发觉脚下的路！对，就是我说的。</p>
					<p class = "intro">Zhou You, who claims as an INFJ person, is the first starter of this Rails Application. He is an undergraduate in Computing, Computer Science, in National University of Singapore (NUS). 

					<p class = "intro">He is proud of being a full-time dreamer, part-time coder. </p>
				</div>
				<div class = "huxi pull-left">
					<h5><a href = "https://facebook.com/xi.breath" target = "_blank">Hu Xi</a></h5>
					<p class = "intro">学为好人，不忘初心！</p>
					<p class = "intro">Hu Xi has a personality tag of being funny, exactly opposite to the previous guy. He is enroled in Computing, Infomation Systems, in National University of Singapore (NUS). 

					<p class = "intro">He smiles a lot, but sometimes gets lost. </p>
				</div>
			</div>
		</div>
	</div>
</div>