<% provide(:title, "Contact") %>

<div class = "contact">
	<div class = "yurilliamprofile"></div>
	<div class = "container">

		<div class = "contacttext"><h3>Contact Us!</h3></div>

		<div class = "message">Should you have any question, these two (handsome) guys will be more than happy to do something for you!</div>
		
		<div class = "contacthuxi">
			<ul class = "huxi"><h4 class = "name row-xs-6"># Hu Xi</h4>
				<li>Facebook: http://www.facebook.com/xi.breath</li>
				<li>Blog: http://www.blog.nus.edu.sg/*****</li>
				<li>Handphone: +65 83** **21</li>
				<li>Email: william******@hotmail.com</li>
			</ul>
		</div>

		<div class = "contactzhouyou">
			<ul class = "huxi"><h4 class = "name row-xs-6"># Zhou You</h4>
				<li>Facebook: https://www.facebook.com/yollyhideout?fref=ts</li>
				<li>Blog: http://www.yollyhi*****.wordpress.com</li>
				<li>Handphone: +65 84** **16</li>
				<li>Email: yollyhi*****@*mail.com</li>
			</ul>
		</div>


	</div>
</div>
