<% provide(:title, "F&Q") %>

<div class = "contact">
	<div class = "container">
		<div class = "contacttext"><h3> F & Q</h3></div>
		<div class = "message">
			<h4>How can I change my profile picture?</h4>
			<p>Go to Account/Settings</p>
			<p>Click "change" underneath the defualt picture. </p>
			<p>Redicted to a page called "Gravatars", which is a sub-website of WordPress.</p>
			<p>Log in with your WordPress account. If you don't have, create one with current email address.</p>
			<p>Cpck "Add email address" to add your Footprint account email address</p>
			<p>Gravatars will send you an email to verify your email address. Cpck the pnk inside the verifying email.</p>
			<p>You are now able to upload your profile image by cpcking "Add a new image"</p>
			<p>Follow the lateron instructions.</p>
			<p>Congratulations! Back to and refresh your Footprint profile page</p>
		</div>
		<div class = "message">
			<h4>How can I post a picture?</h4>
			<p>After you've written your text, click the camera button bellow the text window</p>
			<p>Choose your ideal picture from local computer</p>
			<p>You'll see the camera becomes darker, which means you've successfully done that.</p>
			<p>Click "Footprint" to post. Congratulations!</p>
		</div>
	</div>
</div>