<% provide(:title, "Home") %>


<div class="jumbotron-1">
      <div class="container-1">
        <h1>Find a world to live in.</h1>
        <p> Not only when you look down, can you realise the path to the <em id="no-1">world</em>.</p>
        <div class = "container-2">
        	<p class = "start">Start Journey</p>
        </div>

      </div>
</div> 
