<% provide(:title, "Home") %>


<div class = "home-container">
<div class="jumbotron">
      <div class="container">
        <h1>Find a world to <em style="strong">live</em> in.</h1>
        <p>Do whatever you want to do, because that makes you a <em id="no-1">person</em>.</p>
      </div>
</div> 
<div>