<% provide(:title, "Home") %>


<div class="slider">


    <div class="slide-1 active-slide">
    	<div class = "container">
        <h1>Find a world to live in.</h1>
        <p> 当你低头的一瞬间，才发觉脚下的路<p>
        <div class = "container-2">
        	<p class = "start"><%= link_to "Sign Up", signup_path %></p>
        </div>
    	</div>
    </div>

    <div class = "slide-2 slide-feature">
    	<div class = "container">
    		<%= video_tag "berlin.mp4", :size => "1067x600", :controls => true, :autobuffer => true,  :loop => true %>
    	</div>
    </div>

</div>


<div class = "slider-nav">
	<%= link_to image_tag("left.png", class: "left-nav both-arrow"), "#"%> <!--Add an image with class-->
	<ul class = "slider-dots">
		<li class = "dot active-dot">&bull;</li> <!--Dots-->
		<li class = "dot">&bull;</li>
	</ul>
	<%= link_to image_tag("right.png", class: "right-nav both-arrow"), "#" %>
</div>