<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<style>
	.email .container .emailheader{
		text-align: center;
		font-family: cookie;
		background-color: black;
		border-bottom: 2px solid #C90832;
		color: white;
		font-size: 16px;
		height: 28px;
	}

	.email .container p {
		font-family: times;
		font-size: 13px;
	}

	.email .container .instruction li {
		list-style: circle;
		font-family: times;
		font-size: 13px
	}

	.email .container li {
		list-style: none;
	}

	.email .container .actlink:hover {
		opacity: 0.8;
	}

	.email .container a:link {
		text-decoration: none;
		color: #C90832;
	}

	.email .container a:hover {
		text-decoration: underline;
	}

	.email .end li {
		list-style: none;
		font-family: times;
		font-size: 13px;
	}
	</style>
</head>

<body>
<div class = "email">
	<div class = "container">
		<div class = "emailheader"><h2 class = "emailtitle">Footprint</h2></div>

		<p>Hi <%= @user.name %>,</p>
		<p>Welcome to Footprint!</p>

		<p>"You will never be completely at home again, because part of your heart will always be elsewhere."</p>

		<p> Kindly click on the link below to activate your account:</p>
		<%= link_to "Activate Account", edit_account_activation_url(@user.activation_token, email: @user.email) %>
		<p>Or copy and paste in your browser, <%= edit_account_activation_url(@user.activation_token, email: @user.email) %></p>


		<div class = "end">
		<li>Lovely,</li>
		<li>Hu Xi</li>
		<li>Co-founder, Footprint</li>
		</div>
	</div>
</div>
</body>
</html>