body {
	background-color: #F4F4F4;
}

.dialog .container404 {
	width: 600px;
	margin: 0 auto;
	background-color: #F4F4F4;
}

.pagenotfound{
	text-align: center;
	border-bottom: 2px solid #ddd;
	font-family: Tahoma;
	padding-bottom: 3px;
}

h4 {
	font-family: Lucida Gramde;
}

.songtitle {
	text-align: center;
	margin: 0 auto;
}

iframe {
	margin-top: 8px;
	margin-left: 16px;
	margin-bottom: 28px;
	border-radius: 8px;
}

.dialog .container404 .lyrics p{
	text-align: center;
}

.dialog .container404 .lyrics .miss {
	font-weight: bold;
	font-size: 15px;
}