/* Import Bootrap */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal -- Navigation Bar */

/*HEAD*/
header {
    background-color: #efefef;
    }

/*LOGO*/
.logo{
	font-family: cookie;
	font-size: 40px;
	padding-top: 0px;
	margin-left: -55px;
}

.logo a {
	color: black;
	font-weight: bolder;
}

/*Right Part Nav Bar*/
.nav {
	border-bottom: 1px solid #ddd;
	height: 55px;
}

.nav nav ul a {
  color: #5a5a5a;
  font-size: 11.5px;
  font-weight: bold;
  padding: 20px 10px 2px;
  text-transform: uppercase;
}

.nav nav ul .nav-right-text {
	margin-top: 18.5px;
	margin-right: -20px;
}

.nav nav ul .help {
	display: none;
}

.nav li {
  display: inline;
}

/* Stylesheets for Homepage */

