@import "bootstrap-sprockets";
@import "bootstrap";

/*header*/
/*footer*/

/* mixins, variables, etc. */
/* Debug Environment */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* Sign Up Page */
/* forms */
.signuppage .container {
	width: 850px;
  margin-bottom: 107px;
}

.signuppage .container .signuptext{
	font-family: Lucida Grande;
	font-weight: normal;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.signuppage .container .submittext{
	margin-top: 20px;
	margin-bottom: -2px;
	margin-left: 140px;
	width: 150px;
	font-family: Tahoma;
	font-weight: normal;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* Error Control */
#error_explanation {
  color: #C90832;
  ul {
    color: red;
    margin: 0 0 30px 0;
    font-family: Tahoma;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/* Error Display Ends Here */
/* Sign Up Page End Here */


/* Log In Page*/
/* Log In page mostly inherits from Sign Up Page */
.signuppage .container .loginnewuser {
  font-family: Tahoma;
  text-align: right;
  padding-top: 8px;
}

/* Checkbox */
.signuppage .container .checkbox {
  text-align: right;  
}

.signuppage .container .checkbox span {
  margin-left: 20px;
  font-family: Tahoma;
  font-weight: normal;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Log In paeg ends here */

/* Profile Update Page */
/* Gravatar */
.signuppage .container .gravataredit {
  position: absolute;
  margin-top: 115px;
  margin-left: 80px;
}

.signuppage .container .gravataredit .gravataredittext {
  position: relative;
  display: block;
  color: black;
  font-size: 16px;
  font-family: Tahoma;
  font-weight: normal;
  padding-left: 15px;
  margin-top: 5px;
}

.gravatar {
  border-radius: 10px;
}

.gravatar_edit { /* For SETTINGS page */
  margin-top: 15px;
}

.adminprofile { /* For account "Footprint" */
  height: 80px;
  width: 80px;
  border-radius: 10px;
}
/* Profile Update Page Ends Here /











