/* Import Bootrap */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal -- Navigation Bar */

/*HEAD*/
.nav {
	border-bottom: 1px solid #ddd;
	border-top: 2.5px solid #C90832;
	height: 55px;
}

.nav li {
  display: inline;
}

header {
    background-color: #efefef;
}

/*Icon*/
.nav .logo .icon {
	width: 30px;
	height: 50px;
	margin-left: -35px;
}

.nav .logo .icon2 {
	margin-left: -43px;
}

/*LOGO*/
.logo{
	font-family: cookie;
	font-size: 40px;
	padding-top: 0px;
	margin-left: -55px;
}

.logo a:hover {
	text-decoration: none;
	font-size: 40.5px;
}

.logo a {
	color: black;
	font-weight: bolder;
}

/*Right Part Nav Bar*/
.nav nav ul a {
  color: black;
  font-size: 11.5px;
  font-weight: bold;
  padding: 20px 10px 2px;
  text-transform: uppercase;
}

.nav nav ul .nav-right-text {
	margin-top: 18.5px;
	margin-right: 2px;
}

/* Dropdown menu */
.nav nav .dropdown-menu {
	display: none; /*show first*/
	background-color: #efefef;
	margin-top: 15px;
	margin-right: 12px;
	min-width: 105px;  /*width of the menu*/
}

.nav nav .dropdown-menu > li a {
	font-weight: normal;
	font-size: 12px;
	margin-top: -3px;
	padding-top: 15px;
	text-align: center;
}

.nav nav .dropdown-menu > li a:hover {
	background-color: #EDF5F3;
	text-decoration: underline;
	font-weight: bold;
}










