

body {
	background-color: #F4F4F4;
}

.jumbotron-1 {
  
  background: image-url('9.png');
  height: 600px;
  width: 1280px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -12px;
  margin-left: -70px;
  float: left;
  border-bottom: 2px solid #ddd;
}

.jumbotron-1 .container-1 {
  position: relative;
  margin-top: 15px;
  padding-top: 5px;
  text-align: center;
  color: #bbbcbc;
}

.jumbotron-1 .container-1 p {
  font-size: 15px;
}

.jumbotron-1 .container-2 {
  background-color: #9FE7F5;
  font-family: Tahoma, Lucida Grande, times, Tahoma;
  border-radius: 6px;
  width: 120px;
  height: 50px;
  margin: auto;
  margin-top: 400px;
  text-transform: uppercase;
  opacity: 0.5;
}

.jumbotron-1 .container-2:hover {
  opacity: 0.7;
}

.jumbotron-1 .container-2 p {
    padding-top: 16px;
    font-weight: bolder;
}

.jumbotron-1 .container-2 a:hover {
  text-decoration: none;
}

/* Slider Dots and Array*/
.both-arrow {
  height: 30px;
  width: 30px;
}

.left-nav {
  display: inline-block;
  margin-top: 9px;
  vertical-align: top;
  margin-right: 45px;
}

.right-nav {
  display: inline-block;
  margin-left: 45px;
  margin-top: 9px;
  vertical-align: top;
}

.slider-dots {
  list-style: none; /* get rid of the final little dot */
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li.active-dot {
  color: #5a5a5a;
}

.slider-dots li {
  margin-top: 25px;
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  padding-left: 8px;
  padding-right: 8px;
}

.slider-nav {
  background-color: none;
  text-align: center;
  margin-top: 25px;
}


