
body {
	background-color: #F4F4F4;
}

.slider {
  position: relative;
  width: 100%;
  height: 600px;
  border-bottom: 2px solid #ddd;
}

.slider .slide  {
  background: #F4F4F4;
  margin-top: 1px;
  
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slider .active-slide {
  display: block; /* !Important */
}

.slider  .slide-1{
  background: image-url('9.png');
  height: 600px;
  width: 1288px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  margin-left: -74px;
  float: left;
  text-align: center;
  color: #bbbcbc;
  font-size: 15px;
  padding-top: 60px;
}

.slider .slide-1 .container-2 {
  background-color: #9FE7F5;
  font-family: Tahoma, Lucida Grande, times, Tahoma;
  border-radius: 6px;
  width: 120px;
  height: 50px;
  margin: auto;
  margin-top: 380px;
  text-transform: uppercase;
  opacity: 0.5;
}

.slider .slide-1 .container-2:hover {
  opacity: 0.7;
}

.slider .slide-1 .container-2 p {
    padding-top: 16px;
    font-weight: bolder;
}


.slider .slide-2 .container{
  height: 600px;
  display: block; /* Origionally hide itself */
}

.slide-2-picture {
  height: 600px;
  margin-left: -85px;
}

.slide-2 .text {
  position: relative;
  margin-top: -550px;
  font-family: Lucida Grande;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}


.slider .slide-3 .container{
  height: 600px;
  display: block;
}

.slide-3-picture {
  height: 600px;
  float: right;
}

.slide-3 .text {
  position: relative;
  margin-top: -288px;
  margin-left: 750px;
  text-align: right;
  font-family: Lucida Grande;
  font-size: 18px;
  text-transform: uppercase;
}

.slide-4 .text2 {
  position: absolute;
  margin-top: -550px;
  font-family: cursive; /* wtf */
  font-size: 18px;
  font-weight: bold;
}

.slide-4 .text2-1 {
  margin-top: -580px;
}

.slide-4 .text2-2 {
  margin-left: 30px;
}

.slide-4-picture {
  margin-left: -88px;
}

/* Slider Dots and Array*/
.both-arrow {
  height: 30px;
  width: 30px;
}

.left-nav {
  display: inline-block;
  margin-top: 9px;
  vertical-align: top;
  margin-right: 45px;
}

.right-nav {
  display: inline-block;
  margin-left: 45px;
  margin-top: 9px;
  vertical-align: top;
}

.slider-dots {
  list-style: none; /* get rid of the final little dot */
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 4px;
}

.slider-dots li.active-dot {
  color: #5a5a5a;
}

.slider-dots li {
  margin-top: 25px;
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  padding-left: 8px;
  padding-right: 8px;
}

.slider-nav {
  background-color: none;
  text-align: center;
  margin-top: 10px;
}


