
/* Profile Page*/
.profilepage .page {
  display: none;
  height: 600px;
}

.profilepage .active-page {
  display: block;
}

/* For Map */
.profilepage .textabovemap {
  text-align: center;
  clear: both;
  font-family: Lucida Grande;
  height: 50px;
  font-weight: normal;
  font-size: 18px;
}

.active-popupbox {
  display: block;
}

.profilepage .page1 .popupbox {
  display: none;
  position: absolute;
  width: 450px;
  height: 200px;
  background-color: #efefef;
  border-radius: 10px;
  margin-top: -370px;
  margin-left: 350px;
  border: 1px solid #C90832;

  h4 {
    position: absolute;
    margin-top: -38px;
    margin-left: 420px;
    a{
      text-decoration: none;
      color: black;
    }
  }

  h5 {
    font-family: Tahoma;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
  }

  h3 {
    position: absolute;
    font-weight: normal;
    margin-left: 400px;
    margin-top: -10px;
    a {
      text-decoration: none;
      color: black;
    }
  }

  p {
    font-family: Tahoma;
    padding-left: 10px;
    padding-bottom: -3px;
  }
}

.profilepage .viewposts {
  text-align: center;
  font-family: Lucida Grade;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-top: -20px;
  margin-left: 320px;
}

.profilepage .viewposts a {
  color: black;
}

.profilepage .page1 .jin {
  text-align: center;
  font-family: Lucida Grande;
  font-size: 12px;
  font-weight: normal;
  margin-top: 60px;
}

.profilepage #holder_1000 {
  margin-top: 10px;
}

/* Microposts */
.profilepage .section-1 {
  clear: both;
}

.profilepage .user_info  {
  text-align: center;
  width: 300px;
  height: 200px;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  margin-top: 57px;
}

.profilepage .user_info img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  border: 3px solid white;
  margin-top: 78px;
  margin-left: -200px;
}

.profilepage .user_info p {
  font-family: Lucida Grande;
  text-align: left;
  color: black;
  margin-top: -40px;
  margin-left: 92px;
}

.profilepage .user_info a {
  position: relative;
  margin-left: -35px;
  font-family: Lucida Grande;
  font-size: 12px;
}

.profilepage .user_info .linktomap {
  margin-top: -15px;
}

.profilepage .user_info .user_info_picture {
  height: 100px;
  border-bottom: 1px solid #eee;
  background: #f4f4f4;
  background: image-url("xihu.png");
  background-repeat: no-repeat;
}

.profilepage .user_info .user_info_text {
  height: 100px;
  background: white;
}

.profilepage .postcontainer .postcontainer-inside {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: #fff;
}

.profilepage .postcontainer img {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
}

.microposts {
  list-style: none;
  padding: 0px;
}

.microposts li{
  display: block;
  border-top: 1px solid #e8e8e8;
}

.microposts li:first-child {
  border-top: 0px solid #e8e8e8;
}

.microposts li:hover {
  background-color: #f4f4f4;
}

.profilepage .microposts .user {
  display: inline-block;
  margin-left: 2px;
} 

.profilepage .microposts .user a:link {
  text-decoration: none;
  color: red;
}

.profilepage .microposts .content {
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
  margin-left: 45px;
  margin-top: -10px;
}

.profilepage .microposts .timestamp {
  display: block;
  color: gray;
  font-size: 11px;
  margin-left: 45px;
}

.profilepage .pagination {
  margin-left: 34px;
}

/* Microposts End Here */
/* Profile Page End Here */



